<section class="call-center">
    <div class="call-center__container">
        <div class="call-center__header">
            <h3 class="call-center__title">
                <a href="https://wa.me/15998143715" target="_blank" title="whatsapp">
                    <svg class="ico z-whatsapp"><use xlink:href="#z-whatsapp" /></svg>
                    <span>Central de Atendimento <span class="number"><span>15</span> 99814-3715</span> </span>
                </a>
            </h3>
        </div>
        <div class="call-center__main">
            <div class="call-center__list">
                <div class="call-center__item">

                    <div class="call-center__box">
                        <h4 class="call-center__name">Central de Atendimento!</h4>
                        <p class="call-center__text">Utilize nossa central dee atendimento e solicite condições especiais com seu CNPJ!</p>
                        <div class="call-center__contacts">
                            <svg class="call-center__icon call-center__icon--phone ico z-phone"><use xlink:href="#z-phone" /></svg>
                            <div class="call-center__numbers">
                                <div class="call-center__number">
                                    <strong>Sorocaba</strong>
                                    <a class="call-center__phone" href="tel:1532232492"><small>15</small> 3223-2492</a> / <a class="call-center__phone" href="tel:15998143715"><small>15</small> 99814-3715</a>
                                </div>
                                <div class="call-center__number">
                                    <strong>Campinas</strong>
                                    <a class="call-center__phone" href="tel:1932367305"><small>19</small> 3236-7305</a> / <a class="call-center__phone" href="tel:19994559561"><small>19</small> 99455-9561</a>
                                </div>
                            </div>
                        </div>
                        <div class="call-center__email">
                            <svg class="call-center__icon call-center__icon--email ico z-send"><use xlink:href="#z-send" /></svg>
                            <a href="mailto:vcpautomacao@vcpautomacao.com.br">vcpautomacao@vcpautomacao.com.br</a>
                        </div>
                    </div>

                    <div class="call-center__obs">De seg. a sex das 8hs às 18hs, exceto feriados</div>

                </div>

                <div class="call-center__item">

                    <div class="call-center__box">
                        <h4 class="call-center__name">Suporte Técnico</h4>
                        <p class="call-center__text">Ajudamos você com os melhores profissionais para solucionar suas aplicações!</p>
                        <div class="call-center__contacts">
                            <svg class="call-center__icon call-center__icon--phone ico z-phone"><use xlink:href="#z-phone" /></svg>
                            <div class="call-center__numbers">
                                <div class="call-center__number">
                                    <strong>Sorocaba</strong>
                                    <a class="call-center__phone" href="tel:1532232492"><small>15</small> 3223-2492</a> / <a class="call-center__phone" href="tel:15998143715"><small>15</small> 99814-3715</a>
                                </div>
                                <div class="call-center__number">
                                    <strong>Campinas</strong>
                                    <a class="call-center__phone" href="tel:1932367305"><small>19</small> 3236-7305</a> / <a class="call-center__phone" href="tel:19994559561"><small>19</small> 99455-9561</a>
                                </div>
                            </div>
                        </div>
                        <div class="call-center__email">
                            <svg class="call-center__icon call-center__icon--email ico z-send"><use xlink:href="#z-send" /></svg>
                            <a href="mailto:vcpautomacao@vcpautomacao.com.br">vcpautomacao@vcpautomacao.com.br</a>
                        </div>
                    </div>

                    <div class="call-center__obs">De seg. a sex das 8hs às 18hs, exceto feriados</div>

                </div>

                <div class="call-center__item">

                    <div class="call-center__box">
                        <h4 class="call-center__name">Central de Vendas</h4>
                        <p class="call-center__text">Tem alguma dúvida sobre o seu pedido? Fale com a nossa equipe de vendas!</p>
                        <div class="call-center__contacts">
                            <svg class="call-center__icon call-center__icon--phone ico z-phone"><use xlink:href="#z-phone" /></svg>
                            <div class="call-center__numbers">
                                <div class="call-center__number">
                                    <strong>Sorocaba</strong>
                                    <a class="call-center__phone" href="tel:1532232492"><small>15</small> 3223-2492</a> / <a class="call-center__phone" href="tel:15998143715"><small>15</small> 99814-3715</a>
                                </div>
                                <div class="call-center__number">
                                    <strong>Campinas</strong>
                                    <a class="call-center__phone" href="tel:1932367305"><small>19</small> 3236-7305</a> / <a class="call-center__phone" href="tel:19994559561"><small>19</small> 99455-9561</a>
                                </div>
                            </div>
                        </div>
                        <div class="call-center__email">
                            <svg class="call-center__icon call-center__icon--email ico z-send"><use xlink:href="#z-send" /></svg>
                            <a href="mailto:vcpautomacao@vcpautomacao.com.br">vcpautomacao@vcpautomacao.com.br</a>
                        </div>
                    </div>

                    <div class="call-center__obs">De seg. a sex das 8hs às 18hs, exceto feriados</div>

                </div>
            </div>
        </div>
    </div>
</section>