<div class="rulers">
    <svg class="ico z-brasil rulers__icon"><use xlink:href="#z-brasil" /></svg>
    <span class="rulers__text">Entregamos em todo Brasil</span>
</div>

<div class="rulers">
    <svg class="ico z-lock rulers__icon"><use xlink:href="#z-lock" /></svg>
    <span class="rulers__text">Compra 100% Segura</span>
</div>

<div class="rulers">
    <svg class="ico z-help rulers__icon"><use xlink:href="#z-help" /></svg>
    <span class="rulers__text">Atendimento Personalizado</span>
</div>

<div class="rulers">
    <svg class="ico z-20years rulers__icon"><use xlink:href="#z-20years" /></svg>
    <span class="rulers__text">A mais de 20 anos no mercado</span>
</div>

<div class="rulers">
    <svg class="ico z-box rulers__icon"><use xlink:href="#z-box" /></svg>
    <span class="rulers__text">Amplo Estoque Local</span>
</div>