<div class="abouts">
    <div class="abouts__container">
        <div class="abouts__figure">
            <img src="{{media url="wysiwyg/abouts/about.jpg"}}" alt="Sobre a VCP Automação" />
        </div>
        <div class="abouts__content">
            <h2 class="abouts__title">Sobre a VCP Automação</h2>
            <div class="abouts__text">
                Situada em Sorocaba numa das regiões mais desenvolvidas do estado de São Paulo, fundada em fevereiro de 1999 a VCP Automação atua no ramo da automação, instrumentação, qualidade, segurança, processo, controle e manutenção industrial para toda a região integrando grandes marcas e desenvolvendo soluções. Nossa primeira marca representada foi a Festo Brasil Ltda a qual representamos desde a nossa fundação até janeiro de 2015, a partir desta parceria passamos a ser...
            </div>
            <a class="abouts__more" href="#">Veja Mais</a>
        </div>
    </div>
</div>