<div class="top-head">
    <div class="top-head__container">
        <div class="top-head__contacts">
            <h3 class="top-head__text">
                <span>
                    <svg class="ico z-phone">
                        <use xlink:href="#z-phone" />
                    </svg>
                    <span>Central de Atendimento</span>
                    <svg class="ico z-down">
                        <use xlink:href="#z-down" />
                    </svg>
                </span>
            </h3>
            <div class="top-head__content">
                {{block type="menubuilder/output" identifier="top-contacts"}}
            </div>
        </div>
        
        <div class="top-head__chat">
            <h3 class="top-head__text">
                <a href="/fale-conosco" title="Fale Consoco">
                    <svg class="ico z-chat">
                        <use xlink:href="#z-chat" />
                    </svg>
                    <span>Fale Conosco</span>
                </a>
            </h3>
        </div>
        
        <div class="top-head__whatsapp">
            <h3 class="top-head__text">
                <a href="https://wa.me/15998143715" target="_blank" title="whatsapp">
                    <svg class="ico z-whatsapp">
                        <use xlink:href="#z-whatsapp" />
                    </svg>
                    <span>Whatsapp</span>
                </a>
            </h3>
        </div>
    </div>
</div>