.owl
    &-carousel
        --bg: #E9F2F2
        --color: #A7AFB0

    &-next, &-prev
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 33px
        height: 33px
        border: 0
        border-radius: 50%
        background: var(--bg)
        box-shadow: none
        color: var(--color)

        &:before
            position: static
            width: auto
            height: auto
