.rulers
    display: flex
    justify-content: center
    align-items: center
    color: var(--color)
    font-weight: medium
    font-size: 12px

    &
        --color: #646464

    .ico
        margin-right: 8px
        width: 31px
        height: 31px
        fill: var(--primary)